table {
    margin: 10px auto;
    border: thin solid;
    box-shadow: 0 0 10px;
    border-collapse: collapse;
  }
  caption {
    padding: 10px;
    caption-side: bottom;
    color: black;
    font-size: 1.0rem;
  }
  td {
    padding: 7px 15px;
    border: 1px solid;
  }

  th {
    background-color: black;
    padding: 7px 15px;
    font-size: 30px;
  }
  .spec {
    background-color: #2e2b28;
  }
  thead {
    background-color: black;
    color: white;
  }
  td {
    text-align: center;
    font-size: 20px;
  }
  tbody tr:nth-child(even) {
    background-color:gray;
  }