/* base.css */
body {
    font-family: 'Sometype Mono', 'Open Sans', sans-serif;
    color: #333; /* Example text color */
    background-image: url('../images/chamberbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #3A5A40;
    text-align: center;
    margin-top: 20px;
    color: #fff; /* Example text color for footer */
}
/* Your CSS Grid layout */
.cards, .cards2 {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.cards section, .cards2 section {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.cards h2, .cards2 h2 {
    background-color:#344E41;
    text-align: center;
    display: block;
    padding: .5rem 0;
    color: white;
    margin-top: 0%;
}
#info , ul {
    padding: 10px;
}

ul {
    margin-left: 15px;
    list-style-type: none;
}
.infodiv {
    text-align: center;
}
.info {
    background-color:#3A5A40;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;}
/* Your CSS Flex for navigation */
header {
    text-align: center;
    margin: 80px 80px;
    
}

.header{
    background-color:#3A5A40;
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
}
main {
	margin: 20px auto;
}

h1 {
	font-size: 2rem;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
a {
    color: #fff;
}
.box a:hover,nav a:hover {
    text-decoration:overline;
    background-color: #A3B18A;
    color: black;
}
#menu {
    display: block;
    background-color: #344E41;
}
.navigation.active {
    display: block;
    background-color: #344E41;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;

}
.menu-toggle {
    display: none;
}
.navigation {
    display: none;
}
img {
    width: 100%;
    height: 100%;
}
.hero {
    margin: 10px auto;
    position: relative;
    height:auto;
}
.join {
    background-color:#3A5A40;
    color: #d8f3dc;
    text-decoration: none;
    font-size: 30px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.box {
    text-align: center;
    margin-top: 20px;
}
#heroimg {
    margin: 30px 0;
}
#heroimg img {
        width: 100%;
        border-radius: 30px;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
}
#heroimg img:hover {
    opacity: .9;
    transform: scale(1.03);
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.lazy-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.lazy-image.loaded {
    opacity: 1;
}
figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}
/*---------design for join----------*/
.wf1 textarea {
    width: 100%;
    height: 200px;
}
.wf1 textarea:focus {
    border-left: solid 8px #3A5A40;
}
.form {
    padding: 0 10%;
    min-height: 20rem;
}
.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 10%;
}
.wf1 legend {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bolder;
    text-shadow: 0 0 5px  #000;
    padding:  0 .5rem;
}
.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bolder;
    text-shadow: 0 0 5px  #000;
}
.wf1 div {
    padding-top: 1rem;
    color: #3A5A40;
    font-size: .9rem;
}
.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"], 
.wf1 input[type="url"],
.wf1 input[type="date"], 
.wf1 input[type="number"] 

 {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf1 input[type="radio"],
.wf1 input[type="checkbox"] 
{
    margin-right: 6px;
}
.wf1 input[type="submit"] {
    border: none;
    background-color: #3A5A40;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}
.wf1 input:required {
    border-left: solid 8px red;
}
.wf1 input:required:valid {
    border-left: solid 8px #3A5A40;
}
.menud {
    text-align: center;
    margin-bottom: 1rem;
}

.menud button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.grid section {
    background: #3A5A40;
    color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
}

.grid img {
    max-width: 100px;
    max-height: 40px;
    margin-bottom: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    background-color:#3A5A40;
    color: #fff;
}

.list img {
    max-width: 50px;
    margin-right: 1rem;
}
@media screen and (min-width: 500px) {
    /* Larger screens */
    .navigation {
        display: block;
    }
    .navigation.active {
        display: block;
    }
    #menu
     {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
    }
    nav {
        background-color:#344E41;
        margin-top: -20px;
    }
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    nav a:hover {
        text-decoration:overline;
        background-color: #A3B18A;
        color: black;
    }
	.menu li {
		flex: 1 1 100%;
        padding: 1rem;
	}
    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr; /* Adjust width ratio for two cards */
        gap: 20px;
    }
    .cards2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Adjust width ratio for two cards */
        gap: 20px;
    }
    .card {
        border-radius: 25px;
        overflow: hidden;
        margin: 1rem 0;
    }
    .cards h2, .cards2 h2{
        background-color:#344E41;
        text-align: center;
        display: block;
    }
    .cards section, .cards2 section {
        box-shadow: 1px 1px 10px black;
    }
    main {
        margin: 0 50px;
    }
    .header{
        background-color:#3A5A40;
        color: #d8f3dc;
        text-decoration: none;
        font-size: 40px;
        padding: 15px 30px;
        border-radius: 5px;
    }
}
@media (max-width: 500px) {
    .main-grid {
        grid-template-columns: 1fr; /* Change to single column layout */
    }
}