/* base.css */
body {
    font-family: 'Sometype Mono', 'Open Sans', sans-serif;
    background-color: #f0f0f0; /* Example background color */
    color: #333; /* Example text color */
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #3A5A40; /* Match the navigation bar color */
    color: #fff; /* Example text color for footer */
}
img {
    width: 150px;
    height: 200px;
}
/* Your CSS Grid layout */
.cards {
    margin: 1rem;
}
.cards section {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.cards h2 {
    background-color:#344E41;
    text-align: center;
    display: block;
    padding: .5rem 0;
    color: white;
    margin-top: 0%;
}
#info , ul {
    padding: 10px;
}
ul {
    margin-left: 15px;
    list-style-type: none;
}
#info {
    text-align: center;
}

/* Your CSS Flex for navigation */
header {
	background-color: #3A5A40;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
}

header, main {
	margin: 20px auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color:#344E41;
    margin-top: -20px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
    background-color: #A3B18A;
    color: black;
}

