@media screen and (min-width: 720px) {
    /* Larger screens */
     .navigation {
		display: block;
	}
    nav {
        background-color:#344E41;
        margin-top: -20px;
    }
    }
    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    nav a:hover {
        text-decoration:overline;
        background-color: #A3B18A;
        color: black;
    }
	nav .menu li {
		flex: 1 1 100%;
        padding: 1rem;
	}
    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr; /* Adjust width ratio for two cards */
        gap: 20px;
    }
    .card {
        border-radius: 25px;
        overflow: hidden;
        margin: 1rem 0;
    }
    .cards h2 {
        background-color:#344E41;
        text-align: center;
        display: block;
    }
    .cards section {
        box-shadow: 1px 1px 10px black;
    }
    main {
        margin: 0 50px;
    }
}
