@media screen and (min-width: 500px) {
    /* Larger screens */
    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr; /* Adjust width ratio for two cards */
        gap: 20px;
    }
    .card {
        border-radius: 25px;
        overflow: hidden;
        margin: 1rem 0;
    }
    .cards h2 {
        background-color:#344E41;
        text-align: center;
        display: block;
    }
    .cards section {
        box-shadow: 1px 1px 10px black;
    }
    main {
        margin: 0 50px;
    }
}
